## lab activity 6.9.1: LAB: Visualizing Titanic passenger statistics using bar charts

**The titanic dataset contains data on 887 Titanic passengers, including each passenger's survival status, embarkation location, cabin class, and sex. Write a program that performs the following tasks:**

* **Load the dataset in titanic.csv as titanic.**
* **Create a new data frame, firstSouth, by subsetting titanic to include instances where a passenger is in the first class cabin (pclass feature is 1) and boarded from Southampton (embarked feature is S).**
* **Create a new data frame, secondThird, by subsetting titanic to include instances where a passenger is either in the second (pclass feature is 2) or third class (pclass feature is 3) cabin.**
* **Create bar charts for the following:**
 * **Passengers in first class who embarked in Southampton grouped by sex.**
 * **Passengers in second and third class grouped by survival status.**
   
**The output should be:**

  survived  pclass     sex   age  ...  deck  embark_town  alive  alone
3          1       1  female  35.0  ...     C  Southampton    yes  False
6          0       1    male  54.0  ...     E  Southampton     no   True
11         1       1  female  58.0  ...     C  Southampton    yes   True
23         1       1    male  28.0  ...     A  Southampton    yes   True
27         0       1    male  19.0  ...     C  Southampton     no  False

[5 rows x 15 columns]
   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
4         0       3    male  35.0  ...   NaN  Southampton     no   True
5         0       3    male   NaN  ...   NaN   Queenstown     no   True
7         0       3    male   2.0  ...   NaN  Southampton     no  False

[5 rows x 15 columns]

In [ ]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

# Load titanic.csv
titanic = # Your code here

# Subset the titanic dataset to include first class passengers who embarked in Southampton
firstSouth = # Your code here

# Subset the titanic dataset to include either second or third class passenger
secondThird = # Your code here

print(firstSouth.head())
print(secondThird.head())

# Create a bar chart for the first class passengers who embarked in Southampton grouped by sex
# Your code here
plt.savefig('titanic_bar_1.png')

# Create a bar chart for the second and third class passengers grouped by survival status
# Your code here
plt.legend(labels=["0","1"], title = "survived")
plt.savefig('titanic_bar_2.png')